<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Redmart", root_path, class: 'navbar-brand' %>
      <!-- <a class="navbar-brand" href="#">Twitter</a> -->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "Products", products_path %>
        </li>

        <% if logged_in? %> <!-- Already logged in_-->
          <li>
              <%= link_to "My page", current_user %>
          </li>
          <li>
            <%= link_to "Logout", logout_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Signup", signup_path %>
          </li>
          <li>
            <%= link_to "Login", login_path %>
          </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
