<% provide(:heading, "Signup") %>

<h1>Signup Page</h1>

<div class="row">
  <div class="form-login col-xs-6 col-xs-offset-3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

  

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password, class: 'form-control'%>
  </div>

  <div class="field">
    <%= f.label :credit_card_no %>
    <%= f.text_field :credit_card_no, class: 'form-control' %>
  </div>

  <div>
  <%= f.submit "Create Account", class: "btn btn-primary" %>
</div>
<% end %>
