<p id="notice"><%= notice %></p>
<h2>User Profile Page</h2>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Credit card no:</strong>
  <%= @user.credit_card_no %>
</p>

<div class="col-md-8">
  <% if @user.reviews.any? %>
  <h3>Reviews (<%= @user.reviews.count %>)</h3>
  <ol class="reviews">
    <%= render @review %>
  </ol>
  <%= will_paginate @review %>
  <% end %>

</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
