<p id="notice"><%= notice %></p>
<h2>User Profile Page</h2>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Credit card no:</strong>
  <%= @user.credit_card_no %>
</p>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
    <% if @user.reviews.any? %>
      <h3>Reviews (<%= @user.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
</div>

<%# if logged_in? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%#= render 'shared/user_info' %>
    </section>
    <section class="review_form">
      <%#= render 'shared/review_form' %>
    </section>
  </aside>
</div>
<%# end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
