<p id="notice"><%= notice %></p>
<h2>User Profile Page</h2>

<div class="row">
    <% if logged_in? %>
    <aside class="col-md-4">
        <section class="user_info">
            <%= render 'shared/user_info' %>
        </section>
    </aside>
    <% end %>

    <div class="col-md-8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
    </div>
</div>




<%= link_to 'Edit', edit_user_path(@user) %>
|
<%= link_to 'Back', root_path %>
