<p id="notice"><%= notice %></p>

<div class="row">
    <aside class="col-md-8">
      <%= link_to image_tag("ToystoryCrew.png", alt: "ToystoryCrew",)%>

        <section>
          <p>
            <strong>Product Name:</strong>
            <%= @product.product_name %>
          </p>
          <p>
            <strong>Price S$:</strong>
            <%= @product.product_price %>
          </p>

        </section>
        <% if logged_in? %>
          <section class="review_form">
              <%= render 'shared/review_form' %>
          </section>
        <% end %>
        <%= link_to 'Back', products_path %>
    </aside>

    <div class="col-md-4">
        <h3>Product Reviews</h3>
        <%= render 'shared/feed' %>
    </div>
</div>
